/CMakeLists.txt
.catkin_tools

build/
build/*
install/*
install/
log/
log/*
debug/
release/
coverage/
coverage.*
*_UnitTest
.DS_Store

*.dylib*
*.ilk
*.obj
*.pdb
*.exp
*.lib
*.dll

*.o
moc_*
*.a
*.so*
*.so
*~
*.exe

*.gdca
*.gcno
qrc_*

Release*
Debug*

*.Release
*.Debug

*object_script*

Makefile
Makefile.*

*.pro.user
*.pro.user.*

ui_*
*ui_*
ui_*.h

*.idea
*.orig
*.LOCAL*
*.BACKUP*
*.REMOTE*
*.autosave
*.qmake.stash
cmake-build-debug
CMakeLists.txt.user
CMakeLists.txt.user.*

concurrent_unit_test_*
sequential_unit_test_*

.vscode/
crp/.git
